services:
  db:
    container_name: todo_db
    image: postgres:15.0-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - 5432
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network


  api:
    container_name: todo_api
    build:
      context: ./
      dockerfile: Dockerfile
    command: "./run_in_prod.sh"
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ./:/var/www/app
    depends_on:
      - db
    networks:
      - app_network
    environment:
      - PYTHONUNBUFFERED=1

volumes:
  db_data:

networks:
  app_network:
    driver: bridge